main {
	padding: rem(120) rem(16) 0;
	height: 100%;

	@include desktop {
		padding: 0;
		height: 100%;
		width: 100%;
		display: grid;
		place-content: center;
	}
}

footer {
	text-align: center;
	font-size: rem(10);
	width: 100%;
	padding-bottom: rem(25);

	@include desktop {
		font-size: rem(12);
	}
}
